@import url('https://fonts.googleapis.com/css?family=Lora');

.logo-section {
    height: 620px;
}
.row {
    text-align: center;
    padding-bottom: 30px;
}

.logo-section p {
    text-align: left;
}
.square {

    background-image: url(./images/logo-image-2.png);
    background-position: center;
    background-size: cover;
	width: 22vw;
	height: 22vw;
    border-radius: 50% 50%;
	position: absolute;
  	top: 50vh;
    left: 10vh;
    
    -webkit-animation-name: rotatesquare;
    animation-name: rotatesquare;
    
    -webkit-animation-duration: 3700ms;
    animation-duration: 3700ms;
    
    -webkit-animation-timing-function: cubic-bezier(.43,.25,.45,1.15);
    animation-timing-function: cubic-bezier(.43,.25,.45,1.15);
    
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
    -webkit-transform-origin: center;
    transform-origin: center;
}

@-webkit-keyframes rotatesquare {
    0% {
        top: 50vh;
        left: -25%;
        -webkit-transform: rotate(75deg);
        transform: rotate(75deg);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    
    40% {
        top: 50vh;
        left: 60%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    
    45% {
        top: 50vh;
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }
    
    50% {
        top: 50vh;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-radius: 0;  
    }
    
    60% {
        left: 60%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        background-position: top;  
    }
    
    
    100% {
        top: -50vh;
        left: 60%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-radius: 0;
        background-position: top;
    }

}

@keyframes rotatesquare {
    0% {
        top: 50vh;
        left: -25%;
        -webkit-transform: rotate(75deg);
        transform: rotate(75deg);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    
    40% {
        top: 50vh;
        left: 60%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    
    45% {
        top: 50vh;
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }
    
    50% {
        top: 50vh;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-radius: 0;  
    }
    
    60% {
        left: 60%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        background-position: top;  
    }
    
    
    100% {
        top: -50vh;
        left: 60%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-radius: 0;
        background-position: top;
    }

}

.rope { 
    z-index: -1;
    position: absolute;
    top: 0;
    left: 72%;
    width: 7px;
    height: 0%;
    background-color: darkblue;
    
    -webkit-animation-name: rope-animation;
    animation-name: rope-animation; 
    -webkit-animation-duration: 1970ms; 
    animation-duration: 1970ms;
    -webkit-animation-delay:  783ms;
    animation-delay:  783ms;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; 
}

@-webkit-keyframes rope-animation {
    0%{
        height: 0;   
    }
    
    55% {
        height: 62vh;
    }
    
    60% {
        height: 60vh;
    }
    
    100% {
        height: 0;
    }
    
}

/*End of logo animation*/

.spinners {
    display: inline-block;
    margin: 60px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.spinner-one {
    background-color: #eee;
}

.spinner-one:after{

    content: '';
    display: block;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ca0000;
    border-bottom-color: #ca0000;
    width: 72px;
    height: 72px;
    
    -webkit-animation: spinny 2s linear infinite;
    
    animation: spinny 2s linear infinite; 
}

@keyframes spinny {
    
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1)
    }
    
    50% {
        -webkit-transform: rotate(45deg) scale(1.2);
        transform: rotate(45deg) scale(1.2)
    }
    
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1)
    }
}

/*End of first spinner section*/


.spinner-two {
    border: 4px solid #eee;
    background: none;
}

.spinner-two:after {
    display: block;
    position: relative;
    top: 50%;
    left: 48%;
    border-radius: 4px;
   
    width: 4px;
    height: 40px;
    background: #ca0000;
/*    set the transform origin to center top to align clock hand at the center*/
    -webkit-transform-origin: center top;
    transform-origin: center top;
    
    -webkit-animation: clock 2s linear infinite;
    content: '';
    
    animation: clock 2s linear infinite;
     
}

@keyframes clock {
/*    rotate he clock arm 360 degree*/
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*End of clock section*/

.spinner-three {
    position: relative;
    height: 1px;
    width: 1px;
}

.spinner-three span {
    display: inline-block;
    position: absolute;
    top: 70%;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background: #ddd;
}

.spinner-three span:nth-child(1) {
    left: 60px;
    animation: bounce 1000ms ease-in-out infinite;
}

.spinner-three span:nth-child(2) {
    left: 90px;
    animation: bounce 1000ms 250ms ease-in-out infinite;
}

.spinner-three span:nth-child(3) {
    left: 120px;
    animation: bounce 1000ms 500ms ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-15px);
        background-color: #ca0000
    }
}


/*end of third dot spinners section*/

.flap {
    display: inline-block;
    position: relative;
    width: 50vw;
    height: 130px;
    overflow: hidden;
    background-color: #eee;
    
}

.bar {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0px;
    display: inline-block;
    height: 3vh;
    opacity: 0.8;
}

.bar:nth-child(1) {
    z-index: 1;
    top: 0;
    width: 135px;
    background-color: #7b967a;
    animation: grow-and-shrink 4000ms ease-in infinite;
}

.bar:nth-child(2) {
    z-index: 1;
    top: 5vh;
    width: 205px;
    background-color: #e7ded5;
    animation: grow-and-shrink 4000ms 450ms ease-in  infinite;
}


.bar:nth-child(3) {
    z-index: 1;
    top: 10vh;
    width: 275px;
    background-color: #e68181;
    animation: grow-and-shrink 4000ms 750ms ease-in infinite;
}


.bar:nth-child(4){
    z-index: 1;
    top: 15vh;
    width: 350px;
    background-color: #494c6c;
    animation: grow-and-shrink 4000ms 150ms ease-in infinite;
}

@keyframes grow-and-shrink {
/*    change width and left position of bars*/
    0% {
        width: 100px;
    }
    
    25% {
        width: 500px;
        left: 0px;
    }
    
    50% {
        width: 100px;
        left: 50vw;
    }
    
    100% {
        left: 150vw;
    }
}
